body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #32325d;
}

.logo{
    display: block;
    margin-top: 125px;
    margin-left: 194px;
    max-width: 152px;
    width: 100%;
    margin-right: 497px;
}

header{
    display: flex;
    justify-content: space-between;
}

.right-header{
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-right: 411px;
    margin-left: 131px;
}

ul.navigation{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    width: 464px
}

ul.navigation > li{
    text-decoration: none;
    margin-right: 52px;
    font-size: 19px;
    font-weight: 700;
    line-height: 62px;
}

ul.navigation > li > a{
    text-decoration: none;
}

button.main{
    background-color: #845cff;
    border-radius: 3px;
    width: 102px;
    height: 42px;
    box-shadow: -7px 7px 20px rgba(132, 92, 255, 0.2);
    color: white;
    margin-left: 45px;

}

footer{
    display: flex;
    flex-direction: column;
    background-color:#212240;
    min-height: 727px;
    margin-top: 5834px;
    padding-top: 120px;
    height: 727px;
}

.footer-logo{
    background-color:#212240;
    display: block;
    width: 156px;
    height: 50px;
}

div.conteiner1{
    display: flex;
    justify-content: space-between;
    height: 318px;
    margin-left: 342px;
    margin-right: 352px;
    color: white;
    background-color: #212240;
}

div.comunication{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    margin-top: auto;
}

div.about-us{
    display: flex;
    flex-direction: column;
    line-height: 50px;
}

div.offerings{
    display: flex;
    flex-direction: column;
    line-height: 62px;
}

div.support{
    line-height: 50px;
}

div.left-footer{
    display: flex;
    flex-direction: column;
}

div.under-footer{
    display: flex;
    justify-content: space-between;
    height: 16px;
    margin-top: 280px;
}

div.left-copyright{
    color: #555377;
    padding-left: 344px;
}

div.right-copyright{
    display: flex;
    justify-content: space-between;
    width: 264px;
    color: #555377;
    padding-right: 346px;
}

.footer{
    display: block;
}
